{extend name="layout" /}

{block name="content"}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">日登记</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">登统计</a></li>
                        <li class="breadcrumb-item active">日登记</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <!-- Choose Date -->
                    <form class="form-group" action="{:url('admin/DailyRecord/edit')}" method="post">
                        <label>选择日期:</label>

                        <div class="input-group">
                            <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                            </div>
                            <input type="text" class="form-control float-right" id="datepicker" name="datepicked">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-primary">Go!</button>
                            </div>
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-secondary">Export</button>
                            </div>
                        </div>
                        <!-- /.input group -->
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-12">

                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">{$datePicked ?? " " }</h3>

                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="daily_record" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>日期</th>
                                    <th>类别</th>
                                    <th>课时</th>
                                    <th>内容</th>
                                    <th>应到人数</th>
                                    <th>实到人数</th>
                                    <th>地点</th>
                                    <th>备注</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div><!-- /.row -->
        </div>
    </section>
</div>
{/block}

{block name="custom_scripts"}
<!-- 日登记 -->
<script>
    var editor;
    $(document).ready(function() {
        editor = new $.fn.dataTable.Editor( {
            ajax:'{:url("admin/DailyRecord/getData",["date"=>$datePicked ?? " " ])}',
            table:'#daily_record',
            fields:[
                {
                    label: '日期: ',
                    name: 'date',
                    // def: function () { return new Date(); },
                    type:  'datetime',
                    format: 'YYYY-MM-DD',
                    opts:  {
                        showWeekNumber: true
                    }
                }, {
                    label: '类别:',
                    name:'category',
                    type:  "select",
                    options: [
                        { label: "共同训练", value: "1" },
                        { label: "专业技术训练", value: "2" },
                        { label: "其他训练", value: "3" }
                    ]
                }, {
                    label: '课时:',
                    name: 'duration',
                }, {
                    label: '内容:',
                    name:'content'
                }, {
                    label: '应训人数',
                    name:'expt_par',
                    def: 30
                }, {
                    label: '实际人数',
                    name: 'act_par',
                    def: 30
                }, {
                    label: '地点：',
                    name:'location'
                }, {
                    label: '备注：',
                    name:'remark'
                }],
            formOptions: {
                inline: {
                    onBlur: 'submit',
                    onReturn: 'submit',
                }
            }
        });

        var table = $('#daily_record').DataTable({
            dom: 'Bfrtip',
            ajax:{
                url: '{:url("admin/DailyRecord/getData",["date"=>$datePicked ?? " " ])}',
                type: 'POST',
            },
            columns: [
                {
                    data: null,
                    defaultContent: '',
                    className: 'select-checkbox',
                    orderable: false,
                    searchable: false
                }, {
                    data: 'date',
                    render: function ( data, type, row ) {
                        var dateSplit = data.split('-');
                        return type === "display" || type === "filter" ?
                            dateSplit[1] +'-'+ dateSplit[2]:
                            data;
                    },
                }, {
                    data: 'category',
                    // 输出训练类别
                    render: function ( data, type, row) {
                        switch (data){
                            case '1': return '共同训练';
                            case '2': return '专业技术训练';
                            case '3': return '其他训练';
                        }
                    }
                }, {
                    data: 'duration',
                    orderable: false
                }, {
                    data: 'content',
                    orderable: false
                }, {
                    data: 'expt_par',
                    orderable: false
                }, {
                    data: 'act_par',
                    orderable: false
                }, {
                    data: 'location',
                    orderable: false
                }, {
                    data: 'remark',
                    orderable: false
                },
            ],
            search:{
                search: ''
            },
            order: [[1, 'asc']],
            /*rowGroup: {
                dataSrc: 1
            },*/
            keys: {
                columns: ':not(:first-child)',
                keys:  [ "\t".charCodeAt(0) ],
                editor: editor,
                editOnFocus: true,
            },
            select: {
                style:    'os',
                selector: 'td:first-child'
            },
            buttons: [
                {
                    extend: "create",
                    editor: editor,
                    text: '新增'
                },
                /*{
                    extend: 'selected',
                    text:   '编辑',
                    action: function () {
                        var indexes = table.rows( {selected: true} ).indexes();

                        editor.edit( indexes, {
                            title: '编辑',
                            buttons: indexes.length === 1 ?
                                backNext :
                                'Save'
                        } );
                    }
                },*/
                {
                    extend: "remove",
                    editor: editor,
                    text: '删除'
                }
            ],
            serverSide: true,      // 是否开启服务器模式
            //                         // false时，会一次性查询所有的数据，dataTables帮我们完成分页等。
            //                         // true时，点击分页页码就会每次都到后台提取数据。
        });
        $('#addRow').on( 'click', function () {
            table.row.add( ).draw(  );
        } );
        table.buttons().container()
            .appendTo( $('.col-md-6:eq(0)', table.table().container() ) );
    });
</script>
{/block}