{extend name="layout" /}

{block name="content"}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Home</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{:url('admin/Index/index')}">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard v2</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            

            <!-- 检索卡片 -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">检索</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <!-- form start -->
                            <form class="form-inline" role="form" action="{:url('admin/TeleData/summary')}" method="post">
                                <!-- 号码 -->
                                <div class="form-group mr-3">
                                    <label for="tel_number" class="">号码：</label>
                                    <input type="text" class="form-control" id="tel_number" name="tel_number" placeholder="请输入待查询号码" value="">
                                </div>

                                <!-- 建筑 -->
                                <div class="form-group mr-3">
                                    <label for="building">建筑：</label>
                                    <input type="text" class="form-control" id="building" name="building" placeholder="请输入建筑楼号" value="">
                                </div>
                                <button type="submit" class="btn btn-primary">搜索</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    
                <!-- 电话业务路径图 -->
            <div class="row">
                <div class="col-md-12" >
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title" id="tel_path">电话业务路径树图（500000）</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body" style="width: 100%;height:600px;"  id="tel_details">
                        </div>
                    </div>
                </div>
            </div>
    


            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>150<sub style="font-size: 15px">人</sub></h3>

                            <p>今日在位人数</p>
                        </div>
                        <div class="icon">

                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-success">
                        <div class="inner">
                            <h3>53<sub style="font-size: 15px">人</sub></h3>

                            <p>清澜</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-warning">
                        <div class="inner">
                            <h3>44<sub style="font-size: 15px">人</sub></h3>

                            <p>龙楼</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person-add"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-danger">
                        <div class="inner">
                            <h3>65<sub style="font-size: 15px">人</sub></h3>

                            <p>今日请假人数</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-pie-graph"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
            </div>
            <!-- /.row -->
            <!-- Main row -->
            <div class="row">
                <!-- Left col -->
                <section class="col-lg-7 connectedSortable">
                    <!-- Bar chart -->
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fa fa-bar-chart-o"></i>
                                人员分布
                            </h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-widget="remove">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="bar-chart" style="height: 300px;"></div>
                        </div>
                        <!-- /.card-body-->
                    </div>
                    <!-- /.card -->

                </section>
                <!-- /.Left col -->
                <!-- right col (We are only adding the ID to make the widgets sortable)-->
                <section class="col-lg-5 connectedSortable">

                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">今日进场人员</h3>

                            <div class="card-tools">
                                <span class="badge badge-danger">8 New Members</span>
                                <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-widget="remove"><i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                            <ul class="users-list clearfix">
                                <li>
                                    <img src="/static/img/user1-128x128.jpg" alt="User Image">
                                    <a class="users-list-name" href="#">Alexander Pierce</a>
                                    <span class="users-list-date">Today</span>
                                </li>
                                <li>
                                    <img src="/static/img/user8-128x128.jpg" alt="User Image">
                                    <a class="users-list-name" href="#">Norman</a>
                                    <span class="users-list-date">Yesterday</span>
                                </li>
                                <li>
                                    <img src="/static/img/user7-128x128.jpg" alt="User Image">
                                    <a class="users-list-name" href="#">Jane</a>
                                    <span class="users-list-date">12 Jan</span>
                                </li>
                                <li>
                                    <img src="/static/img/user6-128x128.jpg" alt="User Image">
                                    <a class="users-list-name" href="#">John</a>
                                    <span class="users-list-date">12 Jan</span>
                                </li>
                                <li>
                                    <img src="/static/img/user2-160x160.jpg" alt="User Image">
                                    <a class="users-list-name" href="#">Alexander</a>
                                    <span class="users-list-date">13 Jan</span>
                                </li>
                                <li>
                                    <img src="/static/img/user5-128x128.jpg" alt="User Image">
                                    <a class="users-list-name" href="#">Sarah</a>
                                    <span class="users-list-date">14 Jan</span>
                                </li>
                                <li>
                                    <img src="/static/img/user4-128x128.jpg" alt="User Image">
                                    <a class="users-list-name" href="#">Nora</a>
                                    <span class="users-list-date">15 Jan</span>
                                </li>
                                <li>
                                    <img src="/static/img/user3-128x128.jpg" alt="User Image">
                                    <a class="users-list-name" href="#">Nadia</a>
                                    <span class="users-list-date">15 Jan</span>
                                </li>
                            </ul>
                            <!-- /.users-list -->
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer text-center">
                            <a href="javascript::">View All</a>
                        </div>
                        <!-- /.card-footer -->
                    </div>
                    <!--/.card -->

                </section>
                <!-- right col -->
            </div>
            <!-- /.row (main row) -->
            <!-- Social Widgets row -->
            <div class="row">
                <div class="col-md-3">
                    <!-- Widget: user widget style 1 -->
                    <div class="card card-widget widget-user">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header bg-info-active">
                            <h3 class="widget-user-username">值班领导</h3>
                            <h5 class="widget-user-desc">张王立</h5>
                        </div>
                        <div class="widget-user-image">
                            <img class="img-circle" src="/static/img/user3-128x128.jpg" alt="User Avatar">
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-sm-6 border-right">
                                    <div class="description-block">
                                        <h5 class="description-header">座机</h5>
                                        <span class="description-text">05948080808</span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                                <!-- /.col -->
                                <div class="col-sm-6">
                                    <div class="description-block">
                                        <h5 class="description-header">手机</h5>
                                        <span class="description-text">18523456789</span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </div>
                    </div>
                    <!-- /.widget-user -->
                </div>
                <!-- /.col -->
                <div class="col-md-3">
                    <!-- Widget: user widget style 1 -->
                    <div class="card card-widget widget-user">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header bg-info-active">
                            <h3 class="widget-user-username">值班领导</h3>
                            <h5 class="widget-user-desc">张王立</h5>
                        </div>
                        <div class="widget-user-image">
                            <img class="img-circle" src="/static/img/user3-128x128.jpg" alt="User Avatar">
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-sm-6 border-right">
                                    <div class="description-block">
                                        <h5 class="description-header">座机</h5>
                                        <span class="description-text">05948080808</span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                                <!-- /.col -->
                                <div class="col-sm-6">
                                    <div class="description-block">
                                        <h5 class="description-header">手机</h5>
                                        <span class="description-text">18523456789</span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </div>
                    </div>
                    <!-- /.widget-user -->
                </div>
                <!-- /.col -->
                <div class="col-md-3">
                    <!-- Widget: user widget style 1 -->
                    <div class="card card-widget widget-user">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header bg-info-active">
                            <h3 class="widget-user-username">值班领导</h3>
                            <h5 class="widget-user-desc">张王立</h5>
                        </div>
                        <div class="widget-user-image">
                            <img class="img-circle" src="/static/img/user3-128x128.jpg" alt="User Avatar">
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-sm-6 border-right">
                                    <div class="description-block">
                                        <h5 class="description-header">座机</h5>
                                        <span class="description-text">05948080808</span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                                <!-- /.col -->
                                <div class="col-sm-6">
                                    <div class="description-block">
                                        <h5 class="description-header">手机</h5>
                                        <span class="description-text">18523456789</span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </div>
                    </div>
                    <!-- /.widget-user -->
                </div>
                <!-- /.col -->
                <div class="col-md-3">
                    <!-- Widget: user widget style 1 -->
                    <div class="card card-widget widget-user">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header bg-info-active">
                            <h3 class="widget-user-username">值班领导</h3>
                            <h5 class="widget-user-desc">张王立</h5>
                        </div>
                        <div class="widget-user-image">
                            <img class="img-circle" src="/static/img/user3-128x128.jpg" alt="User Avatar">
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-sm-6 border-right">
                                    <div class="description-block">
                                        <h5 class="description-header">座机</h5>
                                        <span class="description-text">05948080808</span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                                <!-- /.col -->
                                <div class="col-sm-6">
                                    <div class="description-block">
                                        <h5 class="description-header">手机</h5>
                                        <span class="description-text">18523456789</span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </div>
                    </div>
                    <!-- /.widget-user -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row(Social Widgets) -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{/block}
{block name="custom_scripts"}

<!-- 查询电话号码的路径树图 -->
<script type="text/javascript">
    $(function () {
        var dom = document.getElementById('tel_details');
        var myChart = echarts.init(dom);
        myChart.showLoading();

        /**
         * 获取电话的路径，以树图形式呈现
         * @tel 电话号码
         *
         * */
        function getTelPath(tel){
            if (!tel){
                alert('号码不可为空！');
                return;
            }
            $.ajax({
                type:"get",
                url:"{:url('admin/TeleData/searchTel')}",
                dataType:'json',
                data:{
                    tel_number: tel //待替换的数值

                },
                success: function(data) {
                    console.log(data);
                    myChart.hideLoading();
                    myChart.setOption(option = {
                        series:[
                            {
                                type: 'tree',
                                data: data,

                                top: '5%',
                                left: '10%',
                                bottom: '2%',
                                right: '30%',

                                symbolSize: 20,

                                label: {
                                    position: ['-250%','-20%'],
                                    verticalAlign: 'bottom',
                                    align: 'left',
                                    fontSize: 13,
                                    lineHeight:56,
                                    formatter:function(params){
                                        return '建筑：'+params.data.building+'\n'+'机房：'+params.data.location+'\n'+params.data.type+'配线架\n入：'+params.data.entrance+'——>出：'+params.data.jump_to;
                                    },
                                    color:'#fff',
                                    borderColor:'#999',
                                    borderWidth:3,
                                    backgroundColor:'#999',
                                    padding:10,
                                    borderRadius:5
                                },
                                leaves:{
                                    label:{
                                        position: ['-250%','-20%'],
                                        verticalAlign: 'bottom',
                                        align: 'left',
                                        fontSize: 13,
                                    }
                                },
                                expandAndCollapse: true,

                                animationDuration: 550,
                                animationDurationUpdate: 750
                            },
                        ],
                    });
                    var str = '电话业务路径树图（' + tel+'）';
                    $("#tel_path").html(str);
                },
                // 尚未考虑查询时发生错误的情况
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    alert("请输入正确的号码！");
                }
            });
        }

        // 初次加载时默认加载500000的电话路径树图
        var tel_num = 500000;
        $(function () {
            getTelPath(tel_num);
        })

        // 输入电话号码完成时触发
        $('#tel_number').blur(
            function(){
                tel_num = $('#tel_number').val();
                getTelPath(tel_num);
            }
        )
    });
</script>

<script>
    // 初始化echarts实例
    var barChart = echarts.init(document.getElementById('bar-chart'));
    var option = {
        tooltip : {
            trigger: 'axis'
        },
        legend: {
            data:['类型1','类型2'],
            right: 5,
            orient: 'vertical',
        },
        toolbox: {
            show : false,
            feature : {
                dataView : {show: true, readOnly: false},
                magicType : {show: true, type: ['line', 'bar']},
                saveAsImage : {show: true}
            }
        },
        calculable : true,
        xAxis : [
            {
                type : 'category',
                data : ['Total','清澜','龙楼','不在位']
            }
        ],
        yAxis : [
            {
                type : 'value',
                name: '人数',
                nameTextStyle:{fontSize: 16, fontWeight: 900,},
                axisLabel:{show:false,fontSize: 12, fontFamily: 'Arial',},
                axisTick: {show:false,},
                axisLine: {show:false,},
            }
        ],
        series : [
            {
                name:'类型1',
                type:'bar',
                data:[15, 2.0, 4.9, 7.0],

            },
            {
                name:'类型2',
                type:'bar',
                data:[20,2.6, 5.9, 9.0],

            }
        ],
        color:['#007bff', '#ced4da'],
    };
    barChart.setOption(option);
</script>
{/block}