{extend name="layout" /}
<!-- custom css -->
{block name="custom_css"}

{/block}

{block name="content"}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">二组</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">数据资料</a></li>
                        <li class="breadcrumb-item active">二组</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- content -->
    <section class="content">
        <!-- container-fluid -->
        <div class="container-fluid">
            <!-- users edit -->
            <div class="row">                
                <!-- 表单内容 -->
                <div class="col-md-6">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">新增跳纤</h3>
                        </div>
                        <div class="card-body">
                            <!-- form start -->
                            <form role="form" action="{:url('admin/OpticalData/addJumper')}" method="post">

                                <div class="row">
                                    <div class="col-md-6">
                                        <!-- 机房或弱电间名称 -->
                                        <div class="form-group">
                                            <label>机房（弱电间）</label>
                                            <select class="form-control" name="location_id" id="location">
                                                <option value="">请选择--</option>                                            
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <!-- ODF架 -->
                                        <div class="form-group">
                                            <label>ODF配线架</label>
                                            <select class="form-control" name="odf_id" id="">
                                                <option value="">请选择--</option>                                            
                                            </select>
                                        </div>
                                    </div>                                    
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <strong for="">进线：</strong>
                                    </div>
                                </div>
                                <hr />

                                <div class="row">
                                    <div class="col-md-4">
                                        <!-- 单元箱编号 -->
                                        <div class="form-group">
                                            <label>单元箱编号</label>
                                            <select class="form-control" name="box_id" id="">
                                                <option value="">请选择--</option>                                            
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <!-- 熔接盘编号 -->
                                        <div class="form-group">
                                            <label>熔接盘编号</label>
                                            <select class="form-control" name="plate_id" id="">
                                                <option value="">请选择--</option>                                            
                                            </select>
                                        </div>
                                    </div>    
                                    <div class="col-md-4">
                                        <!-- 端口 -->
                                        <div class="form-group">
                                            <label>端口</label>
                                            <select class="form-control" name="port_id" id="">
                                                <option value="">请选择--</option>                                            
                                            </select>
                                        </div>
                                    </div>                                   
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <strong for="">出线：</strong>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-md-4">
                                        <!-- 单元箱编号 -->
                                        <div class="form-group">
                                            <label>单元箱编号</label>
                                            <select class="form-control" name="box_id" id="">
                                                <option value="">请选择--</option>                                            
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <!-- 熔接盘编号 -->
                                        <div class="form-group">
                                            <label>熔接盘编号</label>
                                            <select class="form-control" name="plate_id" id="">
                                                <option value="">请选择--</option>                                            
                                            </select>
                                        </div>
                                    </div>    
                                    <div class="col-md-4">
                                        <!-- 端口 -->
                                        <div class="form-group">
                                            <label>端口</label>
                                            <select class="form-control" name="port_id" id="">
                                                <option value="">请选择--</option>                                            
                                            </select>
                                        </div>
                                    </div>                                   
                                </div>
                                <button type="submit" class="btn btn-success">确认无误，提交！</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- 填表说明说明 -->
                <div class="col-md-6">
                    <div class="callout callout-info">
                        <h5><i class="fa fa-info"></i> 填表说明:</h5>
                        <ol>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, sequi dolorem assumenda hic nihil temporibus aliquam et similique aperiam error rerum, natus quos, expedita alias. Quod repellendus sint inventore ipsam.</li>
                            <li>Totam, sequi dolorem assumenda hic nihil temporibus aliquam et similique aperiam error rerum, natus quos, expedita alias. Quod repellendus sint inventore ipsam.</li>
                            <li>natus quos, expedita alias. Quod repellendus sint inventore ipsam.</li>
                        </ol>
                    </div>
                </div>
            </div>

        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
{/block}

