<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">编辑页面</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">配线资料</a></li>
                        <li class="breadcrumb-item active">组别1</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- content -->
    <section class="content">
        <!-- container-fluid -->
        <div class="container-fluid">
            <!-- users edit -->
            <div class="row">
                <div class="col-md-12">
                    <!-- form start -->
                    <form role="form" action="{:url('admin/TeleData/edit')}" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                {volist name='res' id='chosen'}
                                <input type="hidden" name="id" value="{$chosen.id}">

                                <!-- 号码 -->
                                <div class="form-group">
                                    <label for="tel_number">号码</label>

                                    <input type="text" class="form-control" id="tel_number" name="tel_number" placeholder="Enter content" value="{$chosen.tel_number}">

                                </div>

                                <!-- 上一跳建筑 -->
                                <div class="form-group">
                                    <label>来自何建筑</label>
                                    <select class="form-control" name="pid">
                                        <option value="0">无</option>
                                        {volist name='buildings' id='building'}
                                        <option>{$building}</option>
                                        {/volist}
                                    </select>
                                </div>
                                <!-- 建筑 -->
                                <div class="form-group">
                                    <label>建筑</label>
                                    <select class="form-control" name="building">
                                        {volist name='buildings' id='building'}

                                        {if condition="$chosen.building eq $building"}
                                        <option selected>{$building}</option>
                                        {else /}<option>{$building}</option>
                                        {/if}

                                        {/volist}
                                    </select>
                                </div>

                                <!-- 配线架位置 -->
                                <div class="form-group">
                                    <label>配线架位置</label>
                                    <select class="form-control" name="location">
                                        {volist name='locations' id='location'}

                                        {if condition="$chosen.location eq $location"}
                                        <option selected>{$location}</option>
                                        {else /}<option>{$location}</option>
                                        {/if}

                                        {/volist}
                                    </select>
                                </div>

                                <!-- 配线架类型 -->
                                <div class="form-group">
                                    <label>配线架类型</label>
                                    <select class="form-control" name="type">
                                        {volist name='types' id='type'}

                                        {if condition="$chosen.type eq $type"}
                                        <option selected>{$type}</option>
                                        {else /}<option>{$type}</option>
                                        {/if}

                                        {/volist}
                                    </select>
                                </div>

                                <!-- 跳入位置 -->
                                <div class="form-group">
                                    <label for="entrance">跳入位置</label>

                                    <input type="text" class="form-control" id="entrance" name="entrance" placeholder="Enter content" value="{$chosen.entrance}">

                                </div>

                                <!-- 跳出位置 -->
                                <div class="form-group">
                                    <label for="jump_to">跳出位置</label>

                                    <input type="text" class="form-control" id="jump_to" name="jump_to" placeholder="Enter content" value="{$chosen.jump_to}">

                                </div>
                                {/volist}
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>

        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>