{extend name="layout" /}

{block name="content"}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">资料列表</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{:url('admin/Index/index')}">配线资料</a></li>
                        <li class="breadcrumb-item active">组别1</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- 配线资料列表 -->
            <div class="row">
                <div class="col-md-12">

                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">组别1资料</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="technical-data" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>电话号码</th>
                                    <th>层级</th>
                                    <th>何栋建筑</th>
                                    <th>机房或弱电间</th>
                                    <th>配线架类型</th>
                                    <th>跳入端口</th>
                                    <th>跳出端口</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {volist name='telData' id='tel'}

                                <tr>
                                    <td>{$tel.tel_number}</td>
                                    <td>{$tel.level ??  '--'}</td>
                                    <td>{$tel.building}</td>
                                    <td>{$tel.location}</td>
                                    <td>{$tel.type}</td>
                                    <td>{$tel.entrance}</td>
                                    <td>{$tel.jump_to}</td>
                                    <td>
                                        <div class="btn-group">
                                            <a href="{:url('edit',['id'=>$tel.id])}">
                                                <button class="btn btn-primary">
                                                    <i class="fa fa-edit mr-1"></i>编辑
                                                </button>
                                            </a>
                                        </div>
                                        <div class="btn-group">
                                            <a href="{:url('del',['id'=>$tel.id])}">
                                                <button class="btn btn-danger">
                                                    <i class="fa fa-trash mr-1"></i>删除
                                                </button>
                                            </a>
                                        </div>
                                       
                                    </td>
                                </tr>

                                {/volist}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>电话号码</th>
                                    <th>层级</th>
                                    <th>何栋建筑</th>
                                    <th>机房或弱电间</th>
                                    <th>配线架类型</th>
                                    <th>跳入端口</th>
                                    <th>跳出端口</th>
                                    <th>操作</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>

            <!-- 批量导入卡片 -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">批量导入资料</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <form class="col-md-6" id="upload" action="{:url('upload')}" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="excel_file" name="excel_file">
                                            <label class="custom-file-label" for="excel_file">选择文件</label>
                                        </div>
                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-success">上传</button>
                                        </div>
                                    </div>
                                </div>
                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
</div><!-- /.container-fluid -->
</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
{/block}

{block name="custom_scripts"}

<!-- 配线资料表格汇总 -->
<script>
    var table = $('#technical-data').DataTable({
        "paging": true,
        // "lengthChange": true,
        // "searching": false,
        "ordering": false,
        "info": true,
        // "autoWidth": false,
        // columnDefs: [
        // {
        //     className: "dt-right", targets: 1 },
        // ],
        dom: 'Bfrtip',
        buttons: [ {
            extend: 'excelHtml5',
            text: '<i class="fa fa-download mr-1"></i>保存到本地',
            title: '配线资料', //文件名称
            sheetName: 'Exported data',
            exportOptions: {
                    columns: [ 0, 2, 3, 4, 5, 6]//导出表格中的特定列
                }
        } ],
        language:{
            search: "搜索：",
            paginate: {
            first:      "首页",
            previous:   "上一页",
            next:       "下一页",
            last:       "末页"
            },
            info: "本页为第_START_ - _END_条记录，共计_TOTAL_条记录。",
            infoFiltered: "（共搜索_MAX_条记录）",
            infoEmpty: "未搜索到相关记录",
            emptyTable: "暂无数据",
            zeroRecords: "暂无相关记录"
        }//按钮等的汉化
    })
</script>

{/block}
