{extend name="layout" /}

{block name="content"}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">训练计划</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">训练计划</a></li>
                        <li class="breadcrumb-item active">制定与导出</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">{:date('Y')}年第{:date('W')}周训练计划列表</h3>

                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="plan_list" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>日期</th>
                                    <th>时间</th>
                                    <th>课时</th>
                                    <th>类别</th>
                                    <th>内容</th>
                                    <th>方式</th>
                                    <th>人数</th>
                                    <th>负责</th>
                                    <th>地点</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div><!-- /.row -->
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">导出训练计划</h3>

                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <!-- Choose Date -->
                            <form class="form-group" action="{:url('admin/TrainPlan/exportData')}" method="post">
                                <label>选择日期区间:</label>

                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control float-right" id="daterange_plan" name="daterange_plan">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-primary">Go!</button>
                                    </div>
                                </div>
                                <!-- /.input group -->
                            </form>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>
</div>
{/block}
{block name="custom_scripts"}
<!-- 月统计、训练计划导出的时间选择 -->
<script>
    var locale = {
        "format": 'YYYY-MM-DD',
        "separator": " — ",
        "applyLabel": "确定",
        "cancelLabel": "取消",
        "fromLabel": "起始时间",
        "toLabel": "结束时间",
        "customRangeLabel": "自定义",
        "weekLabel": "W",
        "daysOfWeek": ["日", "一", "二", "三", "四", "五", "六"],
        "monthNames": ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
        "firstDay": 1};
    //月统计
    $('#daterange_stat').daterangepicker({
        'locale': locale,
        "showWeekNumbers": true,
        "maxSpan": {
            "days": 31
        },
        autoApply:true,
        ranges: {
            '今天': [moment(), moment()],
            '过去7天': [moment().subtract(6, 'days'), moment()],
            '过去30天': [moment().subtract(29, 'days'), moment()],
            '本月': [moment().startOf('month'), moment().endOf('month')],
            '上月': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        "alwaysShowCalendars": true,
    });
    //训练计划
    $('#daterange_plan').daterangepicker({
        'locale': locale,
        "showWeekNumbers": true,
        "maxSpan": {
            "days": 6
        },
        autoApply:true,
        ranges: {
            '本周': [moment().startOf('week').add(1, 'days'), moment().endOf('week').add(1, 'days')],
            '上周': [moment().subtract(1, 'week').startOf('week').add(1, 'days'), moment().subtract(1, 'week').endOf('week').add(1, 'days')]
        },
        "alwaysShowCalendars": true,
    });
</script>
{/block}