<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">训练计划</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">训练计划</a></li>
                        <li class="breadcrumb-item active">制定与导出</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">{:date('Y')}年第{:date('W')}周训练计划列表</h3>

                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="plan_list" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>日期</th>
                                    <th>时间</th>
                                    <th>课时</th>
                                    <th>类别</th>
                                    <th>内容</th>
                                    <th>方式</th>
                                    <th>人数</th>
                                    <th>负责</th>
                                    <th>地点</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div><!-- /.row -->
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">导出训练计划</h3>

                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <!-- Choose Date -->
                            <form class="form-group" action="{:url('admin/TrainPlan/exportData')}" method="post">
                                <label>选择日期区间:</label>

                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control float-right" id="daterange_plan" name="daterange_plan">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-primary">Go!</button>
                                    </div>
                                </div>
                                <!-- /.input group -->
                            </form>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>
</div>